/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #137cbd;
  --ifm-color-primary-dark: #1170aa;
  --ifm-color-primary-darker: #1069a1;
  --ifm-color-primary-darkest: #0d5784;
  --ifm-color-primary-light: #1588d0;
  --ifm-color-primary-lighter: #168fd9;
  --ifm-color-primary-lightest: #259ee9;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5799c1;
  --ifm-color-primary-dark: #448cb8;
  --ifm-color-primary-darker: #4084ae;
  --ifm-color-primary-darkest: #356d8f;
  --ifm-color-primary-light: #6ba5c9;
  --ifm-color-primary-lighter: #76accc;
  --ifm-color-primary-lightest: #94bed8;
}

ul.authors-list {
  padding: 0;
  display: inline;
}

ul.authors-list li {
  display: inline;
}

ul.authors-list li:after {
  content: ", ";
}

ul.authors-list li:last-child:after {
  content: "";
}
